footer {
    color: #a1a1a1;
    margin-top: 80px;
    padding: 10px 0;
    text-align: center;
}

.change-theme-btn {
    color: #fff;
    margin: auto;
    display: flex;

    outline: none;
    background-color: transparent;
    font-family: 'Gosha Bold',Arial,sans-serif;
}
.change-theme-btn svg {
    width: 15px;
    margin-left: 5px;
    fill: #fff;
}