main {
  color: #eaeaea;
}

.main-title {
  margin: 100px 0;
  line-height: 0.8;
  font-size: 60px;
  font-family: 'Gosha',Arial,sans-serif;
}

.main-cards {
  min-height: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a1a1a1;
}

.card__param-data {
  line-height: normal;
  font-size: 50px;
  font-family: 'Gosha',Arial,sans-serif;
  text-transform: uppercase;
}

.card__param {
  margin-top: auto;
  color: #d6d6d6;
}

.card__text {
  font-size: 14px;
  color: #d6d6d6;
}

.main-buy-block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-buy-block__title {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  line-height: 0.8;
  font-size: 60px;
  font-family: 'Gosha',Arial,sans-serif;
}

.main-buy-block__links {
  float: right;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}

.main-buy-block__links a:nth-child(even) {
  margin-top: 10px;
}

.notFound {
  font-size: 30px;
}

iframe {
  width: 100%;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .main-cards__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    margin-bottom: 60px;
    border-top: 1px solid #a1a1a1;
  }
  .main-cards__card:last-child {
    margin-bottom: 0;
  }
  .card__title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-bottom: unset;
  }
  .card__param-data {
    line-height: 1;
    font-size: 60px;
  }
  .card__param {
    font-size: 20px;
  }
  .card__text {
    width: 330px;
    margin-top: 30px;
    margin-left: auto;
  }
  .main-buy-block__title {
    font-size: 120px;
  }
  .main-buy-block__title:last-child {
    text-align: right;
  }
  .main-buy-block__links {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .main-buy-block__title {
    font-size: 170px;
  }
  .main-buy-block__links {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .main-buy-block__title {
    font-size: 210px;
  }
  .main-buy-block__links {
    font-size: 20px;
  }
}
